a {
  color: #000;
  text-decoration: none;
}

header {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
}

.links-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.active-link {
  color: red;
  font-weight: bold;
}
